<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatti</title>
    <link rel="stylesheet" href="/static/css/contatti.component.css/">
</head>
<body>
<div class="container">
    <h2>Elenco Contatti</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Data Contatto</th>
            <th>Stato</th>
            <th>Data Assunzione</th>
        </tr>
        </thead>
        <tbody>
        <!-- Aggiungi righe per ogni contatto visualizzato -->
        <tr>
            <td>1</td>
            <td>Mario</td>
            <td>Rossi</td>
            <td>123456789</td>
            <td>mario@example.com</td>
            <td>2024-01-25</td>
            <td>Contattato</td>
            <td>2024-02-01</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
