<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM APP</title>

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<!-- Il componente principale di Angular sarà inserito qui -->
<app-root></app-root>

<!-- Il router-outlet dove i componenti saranno visualizzati dinamicamente -->
<router-outlet></router-outlet>



<!-- Aggiungi collegamenti alle pagine di login e contatti -->
<div>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/contatti">Contatti</a></li>
  </ul>
</div>
</body>
</html>
